body {
  font-family: "Roboto", sans-serif;
}

.text-center {
  text-align: center;
}

/* Styles for HomePage */

.main-wrapper {
  min-width: 367px;
  width: 100%;
  height: 100vh;
  .hero-heading {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.324;
    font-family: "Crimson Text", serif;
    color: #21396a;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Styles for Login || SignUp*/

.login-card,
.signup-card {
  font-size: 1.25rem;
  max-width: 500px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;

  h2 {
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 3rem;
  }

  p > label,
  p > .form-input,
  .btn,
  .link_to_create {
    margin: 12px;
  }
  a {
    text-decoration: none;
    color: #234567;
  }
  a:hover {
    color: #2d9dff;
  }

  .form-input {
    width: 100%;
    height: 60px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #234567;
    background-color: #fff;
  }

  input:focus {
    border: 2px solid #234567;
  }

  .btn-primary {
    background-color: #234567;
    border-color: #234567;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 5px;
  }

  .btn-primary:hover {
    background-color: #2f5378;
    border-color: #93cf66;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Select DropDown  */
select {
  max-width: 500px;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #234567;
  background-image: none;
}

/* Custom Select */
.select {
  width: 100%;
  position: relative;
  display: flex;
  margin: 12px;
  line-height: 3;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #234567;
}
select {
  flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
  background: #fff;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #fff;
  color: #234567;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #fff;
  background: #234567;
}

/* 
/* Select DropDown ends here  */

// Listing page UI && Card
.is_product_wrapper {
  padding-top: 5em;
}

.card {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 110px;
  box-shadow: 5px 5px 25px 5px rgba(213, 213, 211, 0.6);
  border-radius: 8px;
  padding: 10px;
  margin-top: 2em;
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;

  h3 {
    font-style: italic;
  }
}

.badge-container {
  width: 30px;
  height: 30px;
  background: red;
  padding: 5px;
  border-radius: 50%;
  margin: 0 10px;
  text-align: center;

  .badge {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
}

.star-icons {
  width: 140px;
  color: yellow;
  background: #2d9dff;
}
.star-icons .fa-star,
.fa-start-half {
  margin: 2px 5px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 10px;

  .tag {
    padding: 5px 10px;
    background-color: #c09f5a;
    border-radius: 5px;
    color: #fff;
  }
}

/*  Listing page UI end here*/

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  max-width: 600px;
  width: 100%;
}

input[type="search"] {
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  border-radius: 0.25rem;
  border: 1px solid #e0e0e5;
  font-size: 1rem;
  width: 100%;
  line-height: 2;
  padding: 0.375rem 1.25rem;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

input[type="search"]:focus {
  transition: all 0.5s;
  box-shadow: 0 0 40px #1a3878;
  border-color: #1a3878;
  outline: none;
}

.search-form {
  display: flex;
  justify-content: center;
}

label {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  margin-bottom: 0;
}

input.search-field {
  margin-bottom: 0;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  height: 51px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input.search-submit {
  height: 51px;
  margin: 0;
  padding: 1rem 1.3rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-size: 1rem;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #1a3878;
  color: #fff;
  border: 1px solid transparent;
  vertical-align: middle;
  text-shadow: none;
  transition: all 0.2s;
}

.button:hover,
.button:active,
.button:focus {
  cursor: pointer;
  background: #1a3878;
  color: #fff;
  outline: 0;
}

/* user Profile card*/
.card-container {
  width: 300px;
  height: 430px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 10px 1px#000;
  overflow: hidden;
  display: inline-block;
}

.upper-container {
  height: 150px;
  background: #1a3878;
}

.lower-container {
  height: 280px;
  background: #fff;
  padding-top: 40px;
  padding: 20px;
  text-align: center;
}
.lower-container .user-info {
  display: flex;
  margin: 40px 0px;
  text-align: start;
}
span {
  display: block;
}

span h5 {
  margin: 10px;
  font-weight: normal;
  color: #1a3878;
  text-transform: uppercase;
}
span h4 {
  margin: 10px;
  color: #1a3878;
  font-weight: 500;
  text-transform: uppercase;
}

.lower-container .btn {
  padding: 12px 24px;
  background: #1a3878;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.lower-container .btn:hover {
  color: #1a3878;
  background: transparent;
  border: 2px solid #1a3878;
}
.image-container,
.avatar {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(100px, 100px);
}
.image-container .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.avatar {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  border: 2px solid #1a3878;
  color: #1a3878;
}

/* user Profile card ends here.*/

/**********************MEDIA QUERIES**********************/

// @media (max-width: 769px) {
//   .main-wrapper .hero-heading {
//     font-size: 24px;
//     line-height: 36px;
//   }
// }

@media all and (max-width: 630px) {
  .main-wrapper .hero-heading {
    font-size: 20px;
  }
  .container,
  .card {
    max-width: 367px;
    width: 100%;
  }
  .card-header,
  .card-body {
    display: flex;
    flex-wrap: wrap;
  }
  .card-body p {
    margin: 10px 0px;
  }
  .star-icons {
    padding-left: 5px;
    margin: 10px;
  }
}
